<div class="grid gap-8 items-center sm:cols-2 md:cols-3">
    <div>
        <img src="https://unsplash.it/800/600?random=1" alt="">
    </div>
    <div>
        <img src="https://unsplash.it/800/600?random=2" alt="">
    </div>
    <div class="sm:col-span-2 md:col-span-1">
        <img src="https://unsplash.it/800/600?random=3" alt="">
    </div>
</div>