<div class="grid gap-16 items-center md:cols-3">
    <div>
        <img src="https://unsplash.it/800/600" alt="">
    </div>
    <div class="md:col-span-2 flow">
        <h2>30/70 Split Grid</h2>
        <p>Lorem ipsum dolor sit amet, consectetur...</p>
    </div>
</div>