<div class="grid gap-16 items-center md:cols-2">
    <div>
        <img src="https://unsplash.it/800/600" alt="">
    </div>
    <div class="flow">
        <h2>50/50 Split Grid</h2>
        <p>Lorem ipsum dolor sit amet, consectetu...</p>
    </div>
</div>