<div class="grid grid-auto gap-8">
    <img src="https://unsplash.it/800/600?random=1" alt="">
    <img src="https://unsplash.it/800/600?random=2" alt="">
    <img src="https://unsplash.it/800/600?random=3" alt="">
</div>