<div class="grid">
    <div class="col-start-1 row-start-1">
        <img src="https://unsplash.it/1200/600?random=3" alt="">
    </div>
    <div class="col-start-1 row-start-1 | flex items-center justify-center align-center">
        <div class="c-white">
            <h2>Overlay</h2>
            <p>Ditch absolute positioning for grid :)</p>
        </div>
    </div>
</div>