<div
    x-data="{ menuIsOpen: false }"
    x-init="$watch('menuIsOpen', value => $dispatch('mobile-menu:state-change', value))"
>
    <nav class="mobile-menu" :data-state="menuIsOpen ? 'open' : 'closed'">
        <ul>
            {% for link in items %}
            <li>
                <a href="{{ link.href }}">{{ link.label }}</a>
            </li>
            {% endfor %}
        </ul>

        {% if phone %}
        <div class="mobile-menu__phone">
            <p class="uppercase c-gray-70 tracking-wide size-sm">Call Us</p>
            <a href="tel:{{ phone }}">{{ phone }}</a>
        </div>
        {% endif %}
    </nav>

    <button
        @click="menuIsOpen = !menuIsOpen"
        :data-state="menuIsOpen ? 'open' : 'closed'"
        class="hamburger"
    >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</div>