@use '../config' as *;
@use '../functions' as *;

@if (config('utilities.cluster', true)) {
	@layer utilities {
		.cluster {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: var(--gap, var(--space-2));
		}

		/**
		 * Set the default justify-content with a :where for low specificity
		 * so we can override it easily with our alignment utilities.
		 */
		:where(.cluster) {
			justify-content: start;
		}

		@if (config('utilities.cluster.responsiveVariants')) {
			@each $breakpoint, $value in token('breakpoints') {
				@media (min-width: $value) {
					.#{$breakpoint}\:cluster {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						gap: var(--gap, var(--space-2));
					}

					:where(.#{$breakpoint}\:cluster) {
						justify-content: start;
					}
				}
			}
		}
	}
}
