@use '../config' as *;
@use '../functions' as *;

@if (config('utilities.display', true)) {
	@layer utilities {
		.block {
			display: block;
		}

		.inline-block {
			display: inline-block;
		}

		.flex {
			display: flex;
		}

		.inline-flex {
			display: inline-flex;
		}

		// .grid is defined in _grid.scss

		.inline-grid {
			display: inline-grid;
		}

		@if (config('utilities.display.responsiveVariants')) {
			@each $breakpoint, $value in token('breakpoints') {
				@media (min-width: $value) {
					.#{$breakpoint}\:block {
						display: block;
					}

					.#{$breakpoint}\:inline-block {
						display: inline-block;
					}

					.#{$breakpoint}\:flex {
						display: flex;
					}

					.#{$breakpoint}\:inline-flex {
						display: inline-flex;
					}

					.#{$breakpoint}\:inline-grid {
						display: inline-grid;
					}
				}
			}
		}
	}
}
