@use '../config' as *;
@use '../functions' as *;

@if (config('utilities.flow', true)) {
	@layer utilities {
		.flow > * {
			--flow-space: var(--space-4, 1em);
		}

		.flow > * + * {
			margin-block-start: var(--flow-space);
		}

		@each $token, $value in token('space') {
			.flow-space-#{$token} > * {
				--flow-space: #{$value};
			}
		}

		@if (config('utilities.flow.responsiveVariants')) {
			@each $breakpoint, $value in token('breakpoints') {
				@media (min-width: $value) {
					@each $token, $value in token('space') {
						.#{$breakpoint}\:flow-space-#{$token} > * {
							--flow-space: #{$value};
						}
					}
				}
			}
		}
	}
}
