.opening-times__item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: calc(var(--space-1) + var(--space-half));
		left: 0;
		width: 100%;
		border: 1px dotted var(--color-gray-10);
		z-index: 10;
	}

	p {
		background-color: var(--color-white);
		z-index: 20;

		&:first-child {
			padding-inline-end: var(--space-3);
		}

		&:last-child {
			padding-inline-start: var(--space-3);
		}
	}
}
