{% set dayNames = {
	'mon': 'Monday',
	'tue': 'Tuesday',
	'wed': 'Wednesday',
	'thu': 'Thursday',
	'fri': 'Friday',
	'sat': 'Saturday',
	'sun': 'Sunday'
} %}

<div x-data="openingTimes" class="opening-times">
    <ul class="flow flow-space-2">
        {% for item in props.openingTimes %}
            <li class="opening-times__item" :class="{ 'weight-bold': today === '{{ item.day }}' }">
                <p>{{ dayNames[item.day] }}</p>
                <p>{{ item.times }}</p>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('openingTimes', () => ({
			today: null,
			dayNames: ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'],
			init: function () {
				let today = new Date().getDay();
				this.today = this.dayNames[today];
			},
        }))
    });
</script>