.btn-group {
	display: flex;

	> .btn:not(:first-of-type, :last-of-type) {
		border-radius: 0;
	}

	> .btn:first-of-type {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	> .btn:last-of-type {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
