<h3
    class="accordion__heading | size-base"
    :data-state="activeItem === '{{ id }}-{{ index }}' ? 'active' : 'inactive'"
    @click="activeItem = (activeItem !== '{{ id }}-{{ index }}' ? '{{ id }}-{{ index }}' : '')"
>
    <button
        id="accordion-button-{{ id }}-{{ index }}"
        aria-controls="accordion-panel-{{ id }}-{{ index }}"
        :aria-expanded="activeItem === '{{ id }}-{{ index }}'"
    >
        {{ title }}
    </button>
    {% icon "caret-down", "accordion__heading-icon" %}
</h3>
<div
    class="accordion__panel"
    :hidden="activeItem !== '{{ id }}-{{ index }}'"
    id="accordion-panel-{{ id }}-{{ index }}"
    aria-labelledby="accordion-button-{{ id }}-{{ index }}"
    tabindex="-1"
>
    {{ content | safe }}
</div>