<div class="flow">
    <img src="https://assets.resknow.co.uk/branding/resknow/r-48x48.png" alt="" width="24" height="24" />
    <div class="flow flow-space-2">
        <h3>This section needs content</h3>
        <p class="c-gray-70">Please send the content for this section to <strong class="c-positive">studio@resknow.co.uk</strong>.</p>

        {% if lipsum %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra posuere sapien id fringilla. Sed imperdiet, ex a lacinia placerat, lacus nisi ornare sem, eget fermentum lacus justo vitae tortor. Nam ut ante eget quam dapibus tristique non a tellus. Ut ac metus nisl. Aliquam mattis iaculis purus, quis accumsan est rutrum sit amet. In nec nisi tincidunt, ultrices eros nec, imperdiet augue. Donec feugiat felis sit amet blandit tincidunt. Aenean consequat nulla in nunc feugiat accumsan.</p>
        <p>Fusce eu elementum erat, ac lacinia nibh. Nam gravida turpis egestas, ultrices urna in, condimentum mauris. Vivamus ut suscipit nunc, eu lobortis eros. Nulla nec ultrices mauris. Nunc ut ante pharetra, consequat elit sit amet, consequat leo. Mauris lobortis nunc scelerisque porttitor ultrices.</p>
        {% endif %}
    </div>
</div>