<header class="px-8 py-4">
    <div class="container flex justify-between items-center">
        <a class="size-lg weight-bold" href="/">{{ site.name }}</a>

        {{ site.menus.main | dump }}
        {% component "mobile-menu", { links: site.menus.main, phoneNumber: site.phone } %}{% endcomponent %}
        {% component "menu", { links: site.menus.main } %}{% endcomponent %}
    </div>
</header>