{% from "macros/menu/macro.njk" import menu %}
{% from "macros/mobile-menu/macro.njk" import mobileMenu %}

<header class="px-8 py-4">
    <div class="container flex justify-between items-center">
        <a class="size-lg weight-bold" href="/">{{ site.name }}</a>

        {{ mobileMenu(site.menus.main, site.phone) }}
        {{ menu(site.menus.main) }}
    </div>
</header>