<footer class="bg-gray-950 py-6 px-8">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <p class="text-center md:text-left"><a href="/privacy-policy" class="text-white no-underline hover:text-white">Privacy Policy</a></p>
            </div>
            <div>
                <p class="text-white text-center">&copy; {{ util.currentYear }} {{ site.name }}, all rights reserved.</p>
            </div>
            <div>
                <a class="text-white flex items-center justify-center md:justify-end mt-auto" href="https://www.resknow.co.uk" rel="nofollow">Website by Resknow <img class="ml-3" src="https://assets.resknow.co.uk/branding/resknow/r-48x48.png" width="28px" height="28px" alt></a>
            </div>
        </div>
    </div>
</footer>