---
title: Contact Us
scripts:
    - /assets/js/reverse-email.js
---
{% extends "layouts/default.njk" %}

{% block content %}

    <div class="flow flow-space-lg mt-20">
        <h1 class="text-center">Contact Us</h1>
        <div class="grid gap-10 text-center md:grid-cols-3">
            <div class="px-6">
                <strong class="font-heading text-gray-500">Phone</strong>
                <p class="font-bold">
                    <a class="text-lg text-primary" href="tel:{{ site.phone }}">{{ site.phone }}</a>
                </p>
            </div>
            <div class="px-6">
                <strong class="font-heading text-gray-500">Email</strong>
                <p class="email-address font-bold">{{ site.email | reverse }}</p>
            </div>
            <div class="px-6">
                <strong class="font-heading text-gray-500">Address</strong>
                <p>{{ site.address }}</p>
            </div>
        </div>
    </div>

{% endblock %}