---
title: Grid Layouts
eleventyExcludeFromCollections: true
---

<section class="block-area py-20" style="--row-gap: var(--space-20)">

    <header class="flow flow-space-2">
        <h1>Common Grid Layouts</h1>
        <p>Below are some common grid layouts. Check the source for the code for each of them.</p>
    </header>

    <main class="alignwide flow flow-space-32">

        <!-- 50/50 Split Grid -->
        <div class="grid gap-16 items-center md:cols-2">
            <div>
                <img src="https://unsplash.it/800/600" alt="">
            </div>
            <div class="flow">
                <h2>50/50 Split Grid</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas justo vitae turpis semper, eu vehicula nisl commodo. Phasellus vitae elementum libero.</p>
            </div>
        </div>

        <!-- 30/70 Split Grid -->
        <div class="grid gap-16 items-center md:cols-3">
            <div>
                <img src="https://unsplash.it/800/600" alt="">
            </div>
            <div class="md:col-span-2 flow">
                <h2>30/70 Split Grid</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas justo vitae turpis semper, eu vehicula nisl commodo. Phasellus vitae elementum libero.</p>
            </div>
        </div>

        <!-- 3 Column Grid -->
        <div class="grid gap-8 items-center sm:cols-2 md:cols-3">
            <div>
                <img src="https://unsplash.it/800/600?random=1" alt="">
            </div>
            <div>
                <img src="https://unsplash.it/800/600?random=2" alt="">
            </div>
            <div class="sm:col-span-2 md:col-span-1">
                <img src="https://unsplash.it/800/600?random=3" alt="">
            </div>
        </div>
    </main>

</section>