---
title: Home
description: A starter kit for building websites with Eleventy
scripts:
    - /assets/js/scooch.js
---

{% extends "layouts/default.njk" %}

{% block content %}

    <section
        x-data="{ scooch: null }"
        @load.window="scooch = new Scooch($refs.scooch, { autoplay: false, autoplayInterval: 7500, scrollToChange: false, swipeToChange: false })"
        >
        <ul x-ref="scooch" class="scooch">
            <li class="scooch__slide">
                hi
            </li>
            <li class="scooch__slide">
                bye
            </li>
        </ul>
        <nav>
            <button class="btn btn--square" @click="scooch.previous()">
            <!-- left icon -->
            <span class="sr-only">Previous</span>
            </button>

            <button class="btn btn--square" @click="scooch.next()">
            <!-- right icon -->
            <span class="sr-only">Next</span>
            </button>
        </nav>
    </section>

    <!-- delete -->
    <style>
        main {
            text-align: center;
        }

        h1 {
            font-size: var(--size-5xl);
        }
    </style>

    <main class="flow flow-space-3 px-8 py-20">
        <h1>{{ ["G'day", "Hey", "Sup", "Bonjour", "Seiki", "Ciao", "Hola"] | random }}</h1>
        <p class="c-gray-70">
            Don't forget to update your project info in
            <a href="vscode://file/{{ util.cwd }}/templates/_data/site.js"><code class="bg-gray-10 c-neutral size-sm inline-block px-2 py-1 radius-base">_data/site.js</code></a>
        </p>
        <nav class="flow flow-space-2 mt-12">
            <h2 class="h4">Resources</h4>
            <ul class="cluster justify-center gap-6">
                <li><a href="https://resknow.notion.site/8ade470905054217af04ef7ef7ff0289?v=4d3bea11bfd04664a5581f540de3ec11">Components &amp; Patterns</a></li>
                <li><a href="https://resknow.notion.site/CSS-Documentation-0513322747e3428ea77bf7c3e92aee4a">CSS Documentation</a></li>
            </ul>
        </nav>
    </main>
    <!-- end delete -->

    <div class="px-6 py-6 md:px-20">
        <div class="shadow-2xl md:shadow-lg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida posuere velit sit amet finibus. Suspendisse rutrum, metus vel mollis venenatis, lacus sem aliquet libero, id facilisis est dui mattis tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent arcu quam, semper sit amet consequat at, feugiat in ligula. Nunc id diam non magna mollis fermentum. Curabitur convallis nec dolor eget vestibulum.</p>
        </div>
    </div>

{% endblock %}