---
title: Home
description: An SEO ready starter kit for 11ty with Design Tokens, Responsive Type Scale and Cypress Testing.
---
<section class="block-area">

    <main class="flow flow-space-20 mw-md py-32">
        <header class="flow flow-space-2">
            <h1 class="size-4xl">11ty Starter</h1>
            <p class="c-gray-90">Everything you need to get up and running quickly with a new 11ty site.</p>
        </header>
        {% if util.isDemo %}
        <article class="flow">
            <h2>Examples</h2>
            <p>Checkout the examples section for examples of common layouts and components.</p>
        </article>
        {% endif %}
    </main>

    <div class="alignwide bg-gray-10 px-20 py-8">Make content wider with the <code>.alignwide</code> class</div>

    <div class="alignfull bg-gray-90 c-white px-20 py-8">Make content full width with the <code>.alignfull</code> class</div>

    <footer class="cluster justify-between | mt-10 py-4 c-gray-70 size-sm">
        <p>
            {{ site.name }} &copy; {{ util.currentYear }}.
            <a class="ml-3" href="/privacy-policy">Privacy Policy</a>
        </p>

        <!-- Component: Designed by / Credit -->
        {% include "partials/designed-by.njk" %}
    </footer>

</section>