---
title: Home
description: A starter kit for building websites with Eleventy
---

{% extends "layouts/default.njk" %}

{% block content %}

    <!-- delete -->
    <style>
        main {
            text-align: center;
        }

        h1 {
            font-size: var(--size-5xl);
        }
    </style>

    <main class="flow flow-space-3 px-8 py-20">
        <h1>{{ ["G'day", "Hey", "Sup", "Bonjour", "Seiki", "Ciao", "Hola"] | random }}</h1>
        <p class="c-gray-70">
            Don't forget to update your project info in
            <a href="vscode://file/{{ util.cwd }}/templates/_data/site.js"><code class="bg-gray-10 c-neutral size-sm inline-block px-2 py-1 radius-base">_data/site.js</code></a>
        </p>
        <nav class="flow flow-space-2 mt-12">
            <h2 class="h4">Resources</h4>
            <ul class="cluster justify-center gap-6">
                <li><a href="https://resknow.notion.site/8ade470905054217af04ef7ef7ff0289?v=4d3bea11bfd04664a5581f540de3ec11">Components &amp; Patterns</a></li>
                <li><a href="https://resknow.notion.site/CSS-Documentation-0513322747e3428ea77bf7c3e92aee4a">CSS Documentation</a></li>
            </ul>
        </nav>
    </main>
    <!-- end delete -->

{% endblock %}