<header class="px-8 py-4">
    <div class="container flex justify-between items-center">
        <a class="text-lg font-bold" href="/">{{ site.name }}</a>

        {{ component("mobile-menu", { links: site.menus.main, phoneNumber: site.phone }) }}
        {{ component("menu", { links: site.menus.main }) }}
    </div>
</header>