{% macro menu(items) %}
    <nav class="menu">
        <ul class="flex gap-6">
            {% for link in items %}
            <li class="menu__item">
                <a class="menu__link" href="{{ link.href }}">{{ link.label }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}
