---
title: Icons
---
{% from "macros/show-code/macro.njk" import showCode %}

<section class="block-area py-20" style="--row-gap: var(--space-20)">

    <header class="flow flow-space-2">
        <h1>Icons</h1>
        <p>You can use any icon you like, but there are some common icons bundled and ready to use.</p>
    </header>

    <main class="flow flow-space-20">

        {% set icons = [
            "at", "check", "envelope", "facebook", "google",
            "heart", "info", "instagram", "linkedin", "map-marker",
            "phone", "plus", "search", "star", "twitter", "user",
            "warning"
        ] %}

        <ul class="cluster gap-8">
        {% for iconName in icons %}
            <li class="flex items-center gap-2">
                {% icon iconName, "size-xl" %}
                <code class="c-gray-70 size-sm">{{ iconName }}</code>
            </li>
        {% endfor %}
        </ul>

        <div class="flow flow-space-2">
            <h2>Usage</h2>
            {% highlight "html" %}
                {% raw %}{% icon "instagram", "c-positive size-xl" %}{% endraw %}
            {% endhighlight %}
            <p class="c-gray-50">The second parameter is an optional class to add to the <code>svg</code> element.<p>
        </div>

    </main>

</section>