---
title: Icons
---
{% from "macros/show-code/macro.njk" import showCode %}

<section class="block-area py-20" style="--row-gap: var(--space-20)">

    <header class="flow flow-space-2">
        <h1>Media / Aspect Ratio</h1>
        <p>Set the aspect ratio of an element, for things like responsive video and images.</p>
        <p>This component works cross browser, but requires <a href="https://caniuse.com/?search=aspect-ratio">Safari 15.1</a>, which is a recent update.</p>
    </header>

    <main class="flow flow-space-20">

        {% set mediaExample %}
            {%- include "examples/media.njk" -%}
        {% endset %}
        {{ showCode(mediaExample) }}

    </main>

</section>