---
title: Accordion & Tabs
---
{% from "macros/show-code/macro.njk" import showCode %}
{% from "macros/details-summary/macro.njk" import accordion %}

<section class="block-area py-20" style="--row-gap: var(--space-20)">

    <header class="flow flow-space-2">
        <h1>Accordion &amp; Tabs</h1>
    </header>

    <main class="flow flow-space-20">

        <div>
            {{ accordion({
                id: "interesting-content",
                items: [
                    {
                        title: "Item #1",
                        content: "<p>Some very interesting content.</p>"
                    },
                    {
                        title: "Item #2",
                        content: "<p>More very interesting content.</p>"
                    }
                ]
            }) }}
        </div>

        <div class="flow flow-space-2">
            <h2>Usage</h2>
            {% highlight "html" %}
{% raw %}{{ accordion({
    id: "interesting-content",
    items: [
        {
            title: "Item #1",
            content: "<p>Some very interesting content.</p>"
        },
        {
            title: "Item #2",
            content: "<p>More very interesting content.</p>"
        }
    ]
}) }}{% endraw %}
            {% endhighlight %}
            <p class="c-gray-50">Each item requires both <code>title</code> and <code>content</code> properties. If you plan to have more than one accordion on a page, you must pass an <code>id</code> property otherwise you may encounter unexpected behaviour.<p>
        </div>

    </main>

</section>